 body {
            font-family: Arial, times new roman;
            margin: 10;
            padding: 10;
        }
        .navbar {
            background-color: 186;
          
        }
        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align:LEFT;
            padding: 10px 10px;
            text-decoration:BOLD ;
        }
        .main-content {
            padding: 20px;
        }
        .footer {
            background-color: #186;
            color: thistle;
            text-align:CENTER;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
		.chapters {
       font-size:26;
	   font: times new roman;
	   align:left;
	   TEXT COLOR:BLACK; }
	   }
    
